<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Расчет</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/settlement_rate.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
</head>
<body>
<object type="image/svg+xml" data="static/svg/background.svg" class="hor-center" style="position: fixed; top: 60%">
</object>
<div class="block hor-center">
    <div class="flatten">
        <div class="datafield">
            <div class="ver-flatten">
                <div class="flatten">
                    <p>Стоимость жилья</p>
                    <div class="tooltipv2 infobar">
                        <span class="tooltiptext">Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста</span>
                    </div>
                </div>
                <input value="1 000 000" id="Housing cost" type="text" min="1" placeholder="Стоимость жилья">
            </div>
            <div class="ver-flatten">
                <div class="flatten">
                    <p>Доход</p>
                    <div class="tooltipv2 infobar">
                        <span class="tooltiptext">Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста</span>
                    </div>
                </div>
                <input value="100 000" id="Income" type="text" min="0" placeholder="Доход">
            </div>
            <div class="ver-flatten">
                <div class="flatten">
                    <p>Период (лет)</p>
                    <div class="tooltipv2 infobar">
                        <span class="tooltiptext">Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста</span>
                    </div>
                </div>
                <input value="10" id="Term" type="number" min="0" max="100" placeholder="Период">
            </div>
            <div class="flatten">
                <div>
                    <div class="flatten">
                        <p>Расходы (ипотека)</p>
                        <div class="tooltipv2 infobar">
                            <span class="tooltiptext">Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста</span>
                        </div>
                    </div>
                    <input class="mortgage" value="5 000" id="Spendings mortgage" type="text" min="0" placeholder="Расходы">
                </div>
                <div class="gap"></div>
                <div>
                    <div class="flatten">
                        <p>Расходы (аренда)</p>
                        <div class="tooltipv2 infobar">
                            <span class="tooltiptext">Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста</span>
                        </div>
                    </div>
                    <input class="accumulation" value="25 000" id="Spendings accumulation" type="text" min="0" placeholder="Расходы">
                </div>
            </div>
            <div class="flatten">
                <div class="ver-flatten">
                    <div class="flatten">
                        <p>Ипоточеная ставка %</p>
                        <div class="tooltipv2 infobar">
                            <span class="tooltiptext">Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста</span>
                        </div>
                    </div>
                    <input class="mortgage" value="7" id="Mortgage rate" type="number" min="0" placeholder="Ипоточеная ставка">
                </div>
                <div class="gap"></div>
                <div>
                    <div class="flatten">
                        <p>Инфляция %</p>
                        <div class="tooltipv2 infobar">
                            <span class="tooltiptext">Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста</span>
                        </div>
                    </div>
                    <input class="accumulation" value="10" id="Inflation rate" type="number" min="0" placeholder="инфляция">
                </div>
            </div>
        </div>
        <div class="chart_field">
            <canvas id="chart"></canvas>
        </div>
    </div>

    <hr align="center" width="100%" size="2" color=" #e6e6e6">

    <div class="info-bar">
        <table>
            <tr>
                <td>
                    <div class="mortgage flatten">
                        <p>Profit Mortgage:</p>
                        <p id="profit mortgage">000</p>
                    </div>
                </td>
                <td>
                    <div class="mortgage flatten">
                        <p>Mortgage monthly payment:</p>
                        <p id="mortgage monthly payment">000</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="accumulation flatten">
                        <p>Profit Accumulation:</p>
                        <p id="profit accumulation">000</p>
                    </div>
                </td>
                <td>
                    <div class="mortgage flatten">
                        <p>Overpayment:</p>
                        <p id="overpayment">000</p>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>
<script src="{% static 'js/formulas.js' %}"></script>
<script src="{% static 'js/chart_field.js' %}"></script>
<script src="{% static 'js/eventControll.js' %}"></script>
</html>