.center {
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.hor-center {
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
}

.ver-center  {
    position: relative;
    transform: translate(0, -50%);
    top: 50%;
}

.flatten {
    display: flex;
    flex-direction: row;
}

.ver-flatten {
    display: flex;
    flex-direction: column;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    background: radial-gradient(#fff, #fff, #eee);
    background: -webkit-radial-gradient(#fff, #fff, #eee);
}

.background {
    position: fixed;
    top: 60%;
}

.mortgage {
    color: #57f;
}

.accumulation {
    color: #8bc34a;
}

.tooltipv2 .tooltiptext {
    visibility: hidden;
    width: 170px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 150%;
}

.tooltipv2 .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 13px;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.tooltipv2:hover .tooltiptext {
    visibility: visible;
}